/* Navbar Default Styling */
.section-1__nav-bar-container {
  display: flex;
  justify-content: flex-end;
  padding: 30px 20px;
  background-color: #212121;
}

.section-1__nav-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.section-1__nav-link {
  text-decoration: none;
  margin-right: 50px;
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.section-1__nav-link:hover {
  color: #ff6347;
}

#section-1__contact {
  cursor: pointer;
}

#section-1__contact:hover::after {
  transform: translateX(5px);
}

/* Add Media Query for Responsiveness */
@media (max-width: 500px) {
  .section-1__nav-bar {
    display: none; /* Hide the original navbar */
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .burger-menu div {
    width: 30px;
    height: 4px;
    margin: 5px 0;
    background-color: white;
  }

  .burger-menu-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust as per your navbar's height */
    right: 20px;
    background-color: #212121;
    padding: 10px;
    border-radius: 5px;
  }

  .burger-menu-items a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }

  .burger-menu-items a:hover {
    color: #ff6347;
  }

  .burger-menu.active + .burger-menu-items {
    display: flex; /* Show menu items when the burger menu is active */
  }
}
